
header{
    background-color: whitesmoke;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 0 0 10px;
    padding: 10px;
   

} 
li{
    list-style: none;
    float: left;
}  
.gomb{
    background-color: brown;
    width: 50px;
    margin: 20px;
}
a{
    color: whitesmoke;
}
footer{
    background-color: black;
    color: whitesmoke;
    height: auto;
}
article{
    height: 93.5vh;
    background-color: aqua;
}
aside{
    float: right;
    background-color: olivedrab;
    width: 19%;
}
#randomkepekszoveggel{
    float: left;
    width: 80%;
    text-align: center;
}
.hir{
    float: left;
}
.gombook{
    text-align: center;
    padding: 0;
    margin: 0;
}
img{
    border: 0;
    text-align: left;
    opacity: 1; 
    display: block;
}
img:hover{
    opacity: 0.3;
}
